.container {
    display: flex;
    
  }
  
  .column1 {
    flex: 4;
    background: linear-gradient(135deg, #1058C7, #0F58C9);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    overflow-y : 100hv
  }
  
  .column2 {
    flex: 8;
    background-color: #FFFFFF;
    padding: 35px 100px 35px 100px;
    
  }
  
  .fileImg {
    width: 25%;
  }
  
  .columnContent {
    margin-top: 80px;
  }
  
  .logo {
    width: 18%;

  }
  
  .secondColumnInfo {
    text-align: left;
  }
  


  .blogCardSection{
    margin-top: 30px;
    /* text-align: center; */
  }


  